header {
  background-color: #262626;
  height: 80px;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  font-size: 36px;
  font-family: "Open sans";
}

.logo span {
  color: #82b440;
}

.navigation li{
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  float: right;
  margin-top: 20px;
  font-size: 16px;
}
.navigation a {
  color: #fff;
  font-family: "Open sans";
}
.navigation a:hover {
  color: #82b440;
  text-decoration: none;
}

.header-info {
  background-image: url(http://wallpaperscraft.com/image/ipad_apple_iphone_ipod_android_94628_1920x1080.jpg);
  height: 655px;
  width: 100%;
  margin-top: -20px;
  
}



.header-info h1 {
  text-align: center;
  padding-top: 200px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 56px;
}

.header-info h3 {
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-top: 0;
}
.button {
  text-align: center;
  margin-top: 250px;
}

.button-table {
  text-align: center;
  margin-top: 30px;

}

.buttons {
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #F38630;
  border: #fff solid 1px;
  padding: 5px 10px;
  
}

.buttons-table {
  border: #fff solid 1px;
  margin-bottom: 30px;
}

.buttons:hover {
  background-color: #de6e17;
}

#table {
  min-height: 400px;
  margin-bottom: 30px;
}
.section-heading {
  text-align: center;
  font-family: "Open sans";
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#aaa;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 15px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
  border-color:#aaa;
  color:#333;
  background-color:#fff;
  text-align: center;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 15px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
  border-color:#aaa;
  color:#fff;
  background-color:#f38630;
}
.tg .tg-yw4l{
  vertical-align:top
}

#contacts {
  background-color: #262626;
}

#contacts h2 {
  color:#fff;
}

label {
  color: #fff;
}
.footerp {
  color: #fff;
}

.footerp a {
  color: #82b440;
}

.footerp a:hover {
  color: #c2ec8a;
}
.social-icons a {
  color: #82b440;
}

.social-icons a:hover {
  color: #c2ec8a;
}
#footer {
  background-color:#f38630;
  min-height: 50px;
  color: #fff;
}

.footer-text {
  text-align: center;
  margin-top: 15px;
}

